CYPRESS_BASE_URL=https://www.automationexercise.com
CYPRESS_API_URL=https://api.trello.com

CYPRESS_VIEWPORT_WIDTH=1280
CYPRESS_VIEWPORT_HEIGHT=720
CYPRESS_DEFAULT_COMMAND_TIMEOUT=10000
CYPRESS_RETRIES=2
CYPRESS_VIDEO=true
CYPRESS_SCREENSHOT_ON_FAILURE=true

CYPRESS_HEADLESS=true
CYPRESS_BROWSER=chrome
CYPRESS_PARALLELISM=1